@{
    ViewBag.Title = Framework.Resources.UIStringResource.Account_ExternalLogin_LoginFailureTitle;
}
<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
    <h4>@Framework.Resources.UIStringResource.Account_ExternalLogin_LoginFailureDescription</h4>
</hgroup>