<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="66c838df-eb3f-4456-a725-b6ecdfec8600"
            Publisher="CN=NTIER ON TIME TECHNOLOGIES INC."
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinStoreApp</DisplayName>
    <PublisherDisplayName>NTIER ON TIME TECHNOLOGIES INC.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MSBuildLogsExtended.WinStoreApp.App">
        <VisualElements
            DisplayName="MSBuildLogsExtended.WinStoreApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MSBuildLogsExtended.WinStoreApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>