.left-nav {
    position: fixed;
    left: 20px;
    top: 70px;
    width: 150px
}

.page-content {
    position: absolute;
    right: 0;
    top: 70px;
    width: calc(100vw - 150px);
    padding: 0 15px;
}

.footer {
    position: absolute;
    bottom: 0;
}