@{
    ViewBag.Title = Framework.Resources.UIStringResource.Account_ForgotPasswordConfirmation_Title;
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Framework.Resources.UIStringResource.Account_ForgotPasswordConfirmation_Description
    </p>
</div>
